Django==2.2.13
django-cors==0.1
djangorestframework==3.7.7
pytz==2017.3
mysqlclient==1.3.12
-e git+https://github.com/danielfranca/django-rest-framework-drilldown.git@88ce9461871d489ebe0a7d5de9ed6c5c32aefe21#egg=djangorestframework_drilldown
